#main{
  background-color: whitesmoke;
  width: 80%;
  text-align : center;
  border-radius: 20px;
  letter-spacing: -1px;
}

.title{
  font-size: 36px;
  letter-spacing: -2px;
}

p{
  font-size: 26px;
}
.hash{
  font-size: 24px;
}
